<h1>Videogram</h1>

<input type="file" id="fileInput">
<p id="status">Please select a file</p>

<!--
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.43.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
-->
<script src="/static/js/bcuploader.js"></script>

<script>
(function() {
  document.getElementById("fileInput").onchange = function() {
    var files = document.getElementById('fileInput').files;
    var file = files[0];
    if (file == null) {
      return alert('No file selected.');
    }

    BCUploader(file, "/upload", "/sign", "/ingest")
      .then(function() {
        alert("Uploaded video to DI push!");
      })
      .catch(function(err) {
        alert("Error: " + err);
      });
  };
})();
</script>
