<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Videogram</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>